---
---

@import "variables";
@import "animate";
@import "hover/hover";
@import "loaders/loaders";

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;

    display: block;

    nav {
        float: left;
        overflow: hidden;

        @include vertical-align();

        a {
            display: block;
            position: relative;

            float: right;
            clear: right;

            padding: $default-padding;
            width: $default-width;
            height: $default-width;
            margin-bottom: 10px;

            cursor: pointer;

            * {
                cursor: inherit;
            }

            &:last-child {
                margin-bottom: 0;
            }

            background: #000;

            font-weight: 400;
            font-size: 17px;

            -webkit-transition: width .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -moz-transition: width .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -ms-transition: width .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            -o-transition: width .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: width .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            .preview {

                display: block;
                float: left;
                width: $thumb-width;
                height: $thumb-width;

                img {
                    width: inherit;
                    height: inherit;
                    display: block;
                }
            }

            .intro {

                opacity: 0;
                visibility: hidden;

                position: absolute;
                left: $thumb-width + $default-padding;

                display: block;
                float: left;
                width: $intro-width;
                margin-left: $default-padding;

                -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
                -moz-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
                -ms-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
                -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
                transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
                -webkit-transition-delay: .2s;
                -moz-transition-delay: .2s;
                -ms-transition-delay: .2s;
                -o-transition-delay: .2s;
                transition-delay: .2s;

                h2 {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    color: $orange;
                    text-transform: uppercase;
                }

                p {
                    font-family: 'Lato', verdana;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 14px;


                    &.nelsons-journey-mod {
                        margin-top: 5px;
                    }
                }
            }

            &:hover {
                @extend .peek;

                .intro {

                }
            }
        }
    }

    article {
        float: left;
        position: relative;

        min-height: 100%;
        width: 1px;
        margin-right: -1px;

        background: #000;
        -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transition-delay: .2s;
        -moz-transition-delay: .2s;
        -ms-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;

        .post-container {

            height: 900px;
            height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;

            .js & {
                opacity: 0;
                -webkit-transition: opacity .5s;
                -moz-transition: opacity .5s;
                -ms-transition: opacity .5s;
                -o-transition: opacity .5s;
                transition: opacity .5s;
                -webkit-transition-delay: .2s;
                -moz-transition-delay: .5s;
                -ms-transition-delay: .5s;
                -o-transition-delay: .5s;
                transition-delay: .5s;
            }

            .wrapper {
                padding: 35px;

                * {
                    max-width: 100%;
                }

                h1 {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 700;
                    color: $orange;
                    margin-bottom: 10px;
                }

                h2 {
                    letter-spacing: 1px;
                    line-height: 110%;
                    margin-bottom: 10px;
                }

                p, li, blockquote {
                    font-family: 'Lato', verdana;
                    font-weight: 300;
                    line-height: 140%;
                }

                ol, ul {
                    list-style: disc;

                    li {
                        line-height: 120%;
                        margin-top: 10px;
                    }
                }

                img:not(.emoji) {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                @import 'nelsons-journey';
                @import 'gaming-deluxe';
                @import '4ex';
                @import 'sandy';
            }
        }
    }

    .loader {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(0,0,0,0.8);

        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;

        .loader-inner {
            left: 50%;
            top: 50%;
        }
    }

    .close {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .5s linear .5s, color .5s;
        -moz-transition: opacity .5s linear .5s, color .5s;
        -ms-transition: opacity .5s linear .5s, color .5s;
        -o-transition: opacity .5s linear .5s, color .5s;
        transition: opacity .5s linear .5s, color .5s;

        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 16px;

        cursor: pointer;

        &:hover {
            -webkit-animation: fa-spin .5s;
            -moz-animation: fa-spin .5s;
            -ms-animation: fa-spin .5s;
            -o-animation: fa-spin .5s;
            animation: fa-spin .5s;
            color: $orange;
        }
    }

    &.opened {

        .close {
            visibility: visible;
            opacity: 1;
        }

        nav {

            a {
                width: $default-width;

                &:hover {
                     @extend .peek;
                }
            }
        }

        article {
            width: $article-width;
            margin-right: 0;
        }
    }

    &.loading {

        .loader {
            visibility: visible;
            opacity: 1;
        }
    }

    &.loaded {
        article {
            .post-container {
                opacity: 1;
            }
        }
    }
}
