@import "variables";
@import "reset";

html {
    height: 100%;
}

body {

    min-height: 100%;
    overflow: auto;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    background-color: #181818;
    background-image: url('/images/background.svg');
    background-position: center right;
    background-size: auto 100%;
    background-repeat: no-repeat;

    color: $white;
    font-family: 'Montserrat', 'Helventica Neue', 'Helventica', 'Arial', sans-serif;
}

header {

    @media(min-height: 300px){
        @include vertical-align();
    }

    .js {
        .wf-loading {
            opacity: 0;
        }
    }

    * {
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -ms-transition: color .2s;
        -o-transition: color .2s;
        transition: color .2s;

        &:hover {
            color: #fff;
        }
    }

    h1 {
        margin-bottom: 0;
        display: inline-block;
        padding: 5px 10px 5px 20px;
        background: #000;

        font-weight: 700;
        font-size: 37px;
        text-transform: uppercase;

        @media (max-width: 400px){
            font-size: 27px;
        }
    }

    h2 {
        display: inline-block;
        padding: 5px 10px 5px 20px;
        background: #000;

        font-size: 32px;
        font-weight: 300;
        font-family: 'Lato', verdana;
        text-transform: uppercase;

        cursor: default;

        @media (max-width: 400px){
            font-size: 24px;
        }
    }
}

nav[role="navigation"] {

    margin-top: 20px;
    width: 190px;

    @extend %clearfix;

    a {
        float: left;

        display: block;
        margin-bottom: 10px;
        padding: 5px 10px 5px 20px;
        background: #000;

        font-family: 'Lato', verdana;
        font-weight: 300;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;

        &:before {
            background: $orange;
        }

        transition: color .2s;
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -ms-transition: color .2s;
        -o-transition: color .2s;
        transition: color .2s;

        &:hover {
            color: #fff;
        }
    }

}

footer {

    margin-top: 30px;

    //sticky footer init.
    @media(min-height: 300px){
        position: fixed;
        left: 0;
        bottom: 10px;
    }

    cite {
        display: inline-block;

        padding: 5px 10px 5px 20px;
        background: #000;

        font-weight: 400;
        font-size: 9px;
        text-transform: uppercase;
        color: $white;
    }
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;

    display: none;

    nav {
        float: left;
        overflow: hidden;

        @include vertical-align();

        a {
            display: block;
            position: relative;

            float: right;
            clear: right;

            padding: $default-padding;
            width: $default-width;
            height: $default-width;
            margin-bottom: 10px;
            background: #000;

            font-weight: 400;
            font-size: 17px;

            @include small {
                margin-bottom: 32px;
            }

            .preview {

                display: block;
                float: left;
                width: $thumb-width;
                height: $thumb-width;

                img {
                    width: inherit;
                    height: inherit;
                    display: block;
                }
            }

            .intro {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
