<footer>
    <cite>
        Copyright &copy; Owen Melbourne
    </cite>
</footer>

<script src="{{ site.baseurl }}/scripts.js?v=0.0.3"></script>
<script>loadCSS('{{ site.baseurl }}/style.css?v=0.0.3', document.getElementById('critical-css'))</script>
<noscript><link href="{{ site.baseurl }}/style.css?v=0.0.3" rel="stylesheet"></noscript>
<script>loadCSS('https://fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300')</script>
<noscript><link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300" rel="stylesheet"></noscript>
<script>ga('create', '{{site.google-analytics}}', 'auto'); ga('send', 'pageview')</script>
