<div id="sidebar">

    <nav id="featured-work" role="secondary">

        {% for post in site.posts %}
        <a href="{{post.url}}">

            <div class="preview">
                <img src="{{post.preview}}" alt="{{post.title}}">
            </div>

            <div class="intro">
                <h2 class="{{post.class}}-mod">{{post.title}}</h2>
                <p class="{{post.class}}-mod">{{post.description}}</p>
            </div>
        </a>
        {% endfor %}

    </nav>

    <article id="active-work">
        <i class="fa fa-times-circle close"></i>
        <div class="loader"><div class="loader-inner ball-triangle-path"><div></div><div></div><div></div></div></div>
        <div class="post-container"></div>
    </article>

</div>