html, body, div, span, h1, h2, p,
a, strong, article, aside, figure, blockquote,
figcaption, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
