
//
// VARIABLES
//

$white: #efefef;
$orange: #4EB7EC;

//sidebar
$default-width: 95px;
$default-padding: 10px;
$open-width: 295px;
$thumb-width: 75px;
$intro-width: ($open-width - ($default-padding * 3 )) - $thumb-width;
$article-width: 450px;

// Mobile breakpoints
@mixin small {
  @media screen and (max-width: 545px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 770px) and (min-width: 641px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 770px) {
    @content;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}