<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

        <script>
        (function(J){J.className=J.className.replace(/\bno-js\b/,'js')})(document.documentElement);
        function loadCSS(a,b,c){"use strict";function g(){for(var b,e=0;e<f.length;e++)f[e].href&&f[e].href.indexOf(a)>-1&&(b=!0);b?d.media=c||"all":setTimeout(g)}var d=window.document.createElement("link"),e=b||window.document.getElementsByTagName("script")[0],f=window.document.styleSheets;return d.rel="stylesheet",d.href=a,d.media="only x",e.parentNode.insertBefore(d,e.nextSibling),g(),d};
        </script>

        {% include meta.html %}

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <style type="text/css" id="critical-css">
        {% capture include_to_scssify %}
            {% include critical.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
        </style>

    </head>

    <body>
        {% include header.html %}
        {% include sidebar.html %}
        {% include footer.html %}
    </body>
</html>
